.logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    color: $primary-black-color;
    text-decoration: none;

    font-family: $logo-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    .accent {
        color: $accent-color;
    }

}

// .logo-footer {
//     padding-top: 0;
//     padding-bottom: 0;
//     margin-bottom: 10px;

//     color: $primary-white-color;

//     font-family: Raleway;
//     font-weight: 700;
//     font-size: 22px;
//     line-height: 1.18;

//     .accent {
//         color: $accent-color;
//     }
// }