.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 85px;

    color: $primary-black-color;
    text-decoration: none;

    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    .accent {
        color: $accent-color;
    }

}

.logo-footer {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;

    color: $primary-white-color;

    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;

    .accent {
        color: $accent-color;
    }
}