// /* Модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // min-height: 580px;
    width: 450px;
    padding: 40px;

    background-color: $primary-white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    &-title {

        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;

        color: $title-text-color;
    }
}


.close-modal {
    position: absolute;
    top: 8px;
    right: 8px;


    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: $primary-white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
}


.form {
    margin-top: 30px;

    &-field {
        position: relative;
        margin-bottom: 28px;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        input {
            // position: relative;
            width: 100%;
            height: 40px;
            padding: 12px 16px;
            padding-left: 42px;
            /* margin-bottom: 28px; */
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            outline: none;
            color: fff;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .form-label {
            position: absolute;
            left: 42px;
            top: 50%;
            transform: translateY(-50%);

            z-index: 3;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.01em;
            color: $primary-text-color;

            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        textarea {
            position: relative;
            resize: none;
            width: 100%;
            min-height: 120px;
            padding: 12px 16px;


            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            outline: none;

            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .form-label-comment {
            position: absolute;
            left: 16px;
            top: 12px;
            font-size: 14px;

            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .icon-form {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);

            display: inline-block;
            margin-right: 8px;
            /* outline: 1px solid black; */
            fill: $title-text-color;

            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.form-field:focus-within>.icon-form {
    fill: $accent-color;
}

.form-field:focus-within>input,
.form-field:focus-within>textarea {
    border-color: $accent-color;

}

.form-field:focus-within>.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    transform: translate(-26px, -36px);

    font-size: 12px;
    color: $accent-color;
}

.form-field:focus-within>.form-label-comment,
textarea:not(:placeholder-shown)+.form-label-comment {
    transform: translateY(-28px);

    font-size: 12px;
    color: $accent-color;
}

.field {
    display: flex;
    align-items: center;
}

.form-license {

    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    label {
        font-size: 14px;
        line-height: 1.71;
        // letter-spacing: 0.03em;
    }

    a {
        color: $accent-color;
    }

    .checkbox {
        /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */

        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 8px;

        border: 2px solid #212121;
        border-radius: 4px;

        /* transition: transform 250ms linear; */
    }

    .checkbox:checked+.icon {

        border-color: transparent;
        background-color: $accent-color;
        background-image: url('../images/icon-check.svg');
        background-size: contain;
        background-origin: border-box;
    }
}