/* Portfolio */
.header-portfolio {
    border-bottom: 1px solid #ececec;
}

.btn-container {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.btn-filter {
    padding: 6px 22px;

    color: $title-text-color;
    background-color: $bg-btn-fltr-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
        margin-right: 8px;
    }

    &:hover,
    &:focus {
        color: $primary-white-color;
        background-color: $accent-color;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 3px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}


.flex-examples {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    .item {
        width: 370px;
        margin: 15px;

        background: $primary-white-color;

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            cursor: pointer;
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
                0px 1px 1px rgba(0, 0, 0, 0.12);
        }

    }
}

.portfolio h2 {
    margin-bottom: 4px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}

.description {
    color: $primary-white-color;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

/* Оформление карточек портфолио */
.card {
    width: 370px;

    color: inherit;
    text-decoration: none;

    &:hover .card-description,
    &:hover .card-thumb::before {
        transform: translateY(0);
        opacity: 1;
    }

    &:focus .card-description,
    &:focus .card-thumb::before {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-thumb {
    position: relative;
    overflow: hidden;

    &::before {
        display: inline-block;
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;

        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.card-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;

    padding: 63px 24px;
    color: $primary-white-color;
    font-size: 18px;
    line-height: 1.56;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.card-content {
    padding: 20px 24px;
    background: #ffffff;
    /* Рамка не везде а только с трёх сторон */
    border: 1px solid #eeeeee;
    border-top: 0;
}