/* Раздел Преимущества */

.flex-features {
    display: flex;

    .item {
        width: 278px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.features-icon {
    display: block;
    padding: 25px 100px;
    background-color: $bg-btn-fltr-color;
    border-radius: 4px;

    margin-bottom: 30px;
}

.title.features {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}