/* Постоянные клиенты*/

.flex-company {
    display: flex;

    .item {
        width: 175px;

        &:not(:last-child) {
            margin-right: 30px;
        }

    }
}

.company-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $accent-color;
        fill: $accent-color;
    }
}