// /* Раздел Преимущества */

.flex-features {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    .item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 768px) {
            width: calc((100% - 4*15px) / 2);
            margin: 15px;
        }
    }



}

.features-icon {
    display: block;
    text-align: center;

    padding: 25px 0 25px 0;
    width: 100%;
    background-color: $bg-btn-fltr-color;
    border-radius: 4px;

    margin-bottom: 30px;
}

.title.features {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    // color: $title-text-color;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    // color: $primary-text-color;
}

// .flex-features {
//     display: flex;

//     .item {
//         width: 278px;

//         &:not(:last-child) {
//             margin-right: 30px;
//         }
//     }
// }